<div class="ingame__options ingame__options--open">
<div class="open-ended">
<!--<div class="open-ended is-correct ">-->
  <span class="open-ended__answer "></span>
  <input class="open-ended__textbox" id="player__answer" type="text" />
</div>
	<button class="game-button game-button--ttclear game-button--light-blue" type="button">CLEAR</button>
	<button class="game-button game-button--ttpass game-button--yellow" type="button">PASS</button>
	<button class="game-button game-button--ttsubmit game-button--blue-green" type="button">SUBMIT</button>
</div>